<header id="showcase">
    <h1>Welcome To The Beach</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis ipsum officia numquam expedita ullam.</p>
    
    <section id="section-c">
      <div class="box-1 "  (click)="onFactApi()">
      <!--   <a [routerLink]="['/fact-api']"></a> -->
        <a routerLink="/fact-api"> FactAPI 1</a>
      </div>
      <div class="box-1"(click)="onCoinDesk()">
        
        <a routerLink="/coin-desk">CoinDesk</a>
      </div>
      <div class="box-1" (click)="onBored()">
        <a routerLink="/bored">BoredApi</a>
      </div>
      <div class="box-1" (click)="onAgify()">
        <a routerLink="/agify">Agify</a>
      </div>
      <div class="box-1" (click)="onDogs()">
        <a routerLink="/dogs">Dogs</a>
      </div>
      <div class="box-1" (click)="onJokes()">
        <a routerLink="/jokes">Jokes</a>
      </div>
      <div class="box-1" (click)="onRandomUser()">
        <a routerLink="/random-user">RandomUser</a>
      </div>
      <div class="box-1"(click)="onDataUsa()">
        <a routerLink="/datausa">DataUsa</a>
      </div>
      <div class="box-1"(click)="onIpinfo()">
      <a routerLink="/ipinfo">Ipinfo</a> 
      </div>   
      <div class="box-1"(click)="onNationalize()">
        <a routerLink="/nationalize">Nationalize</a>
      </div>
      <div class="box-1"(click)="onUniversities()">
        <a routerLink="/onUniversities">Universities</a>
      </div>
    </section>
    
    
  </header>