*{
    margin:0;
    padding:0;
  }
  
  body{
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color:#963aec;
    line-height:1.6;
  }
  
  #showcase{
    background-image:url('https://static.vecteezy.com/system/resources/thumbnails/004/243/021/small/abstract-template-background-white-and-bright-blue-squares-overlapping-with-halftone-and-texture-free-vector.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    /* display:inline-block; */
    flex-direction:column;
    justify-content:center;
    align-items:first baseline;
    text-align:center;
    padding:0 20px;
  }
  
  #showcase h1{
    font-size:50px;
    line-height:1.2;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  #showcase .button{
    font-size:18px;
    text-decoration:none;
    color:#8711cc;
    border:#350653 1px solid;
    padding:50px 20px;
    border-radius:50px;
    margin-top:20px;
  }
  
  #showcase .button:hover{
    background:#9420a3;
    color:#fff;
  }
  
  #section-a{
    padding:20px;
    background:#b229db;
    color:#fff;
    text-align:center;
  }
  
  #section-b{
    display: flexbox;
    align-items: center;
    padding:20px;
    background:#f4f4f4;
    text-align:center;
    
  }
  
  #section-c{
    display:inline-block;
  }
  
  /*#section-c div{
    /* padding:20px;

    font-size:18px;
    text-decoration:none;
    color:#8711cc;
    border:#350653 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px; 
    }*/
  
  #section-c .box-1 {
    background:#913df1;
    color:#ffffff;
    padding:14px;

    font-size:18px;
    text-decoration:black;
    /* color:#8711cc; */
    border:#350653 1px solid;
    border-radius:10px;
    margin:10px;
    padding:10px;
    cursor: pointer;
  }
  a {
    padding: 10px !important;
    margin: 5px !important;
    width: 5px !important;
    height: 5px !important;
  }
  
  
  /* #section-c .box-2, #section-c .box-4{
    background:#f9f9f9;
  } */